<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  
    <!-- 서블릿 정의 및 매핑은 @WebServlet 어노테이션으로 처리됨 -->
  <servlet>
    <servlet-name>WifiInfoServlet</servlet-name>
    <servlet-class>com.example.servlet.WifiInfoServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>WifiInfoServlet</servlet-name>
    <url-pattern>/wifi-info</url-pattern>
</servlet-mapping>
</web-app>

